<!DOCTYPE html>
<html>
<head>
    <title>FelFel - Inventory Management</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/felfel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow">

    <base href="~/" />
</head>
<body>
    @RenderBody()

    <script src="/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>