<ul class="c-menu u-reset-list">
    <li class="c-menu__item" [routerLinkActive]="['c-menu__item--active']">
        <a class="c-menu__item-link lf-row lf-align-center lf-justify-center" [routerLink]="['/batches']">
            <div class="lf-row lf-align-items-center">
                <span class="c-menu__item-text">Batches</span>
            </div>
        </a>
    </li>
    <li class="c-menu__item" [routerLinkActive]="['c-menu__item--active']">
        <a class="c-menu__item-link lf-row lf-align-center lf-justify-center" [routerLink]="['/batch-add']">
            <div class="lf-row lf-align-items-center">
                <span class="c-menu__item-text">Add new batch</span>
            </div>
        </a>
    </li>
    <li class="c-menu__item" [routerLinkActive]="['c-menu__item--active']">
        <a class="c-menu__item-link lf-row lf-align-center lf-justify-center" [routerLink]="['/products']">
            <div class="lf-row lf-align-items-center">
                <span class="c-menu__item-text">Products</span>
            </div>
        </a>
    </li>
    <li class="c-menu__item" [routerLinkActive]="['c-menu__item--active']">
        <a class="c-menu__item-link lf-row lf-align-center lf-justify-center" [routerLink]="['/freshness']">
            <div class="lf-row lf-align-items-center">
                <span class="c-menu__item-text">Freshness</span>
            </div>
        </a>
    </li>
    <li class="c-menu__item" [routerLinkActive]="['c-menu__item--active']">
        <a class="c-menu__item-link lf-row lf-align-center lf-justify-center" [routerLink]="['/locations']">
            <div class="lf-row lf-align-items-center">
                <span class="c-menu__item-text">Locations</span>
            </div>
        </a>
    </li>
</ul>