<h2>Add new batch</h2>

<form name="form" #f="ngForm" novalidate class="f-form" (ngSubmit)="f.form.valid && save($event, f)" *ngIf="!batchSubmitted">
    <div class="lf-row">
        <div class="lf-1x4">
            <label for="quantity" class="f-label">Quantity</label>
        </div>
        <div class="lf-3x4">
            <input type="number"
                   class="f-input"
                   name="quantity"
                   [(ngModel)]="batchNew.quantity"
                   #quantity="ngModel"
                   placeholder="Quantity"
                   min="1"
                   required />
            <div *ngIf="quantity.invalid">
                <div *ngIf="quantity.errors.required" class="u-required u-required--before">required</div>
            </div>
        </div>
    </div>
    <div class="lf-row c-content-spacer">
        <div class="lf-1x4">
            <label for="expirationDate" class="f-label">Expiration Date</label>
        </div>
        <div class="lf-3x4">
            <input type="date"
                   class="f-input"
                   name="expirationDate"
                   [(ngModel)]="batchNew.expirationDate"
                   #expirationDate="ngModel"
                   placeholder="Expiration date"
                   required />
            <div *ngIf="expirationDate.invalid">
                <div *ngIf="expirationDate.errors.required" class="u-required u-required--before">required</div>
            </div>
        </div>
    </div>
    <div class="lf-row c-content-spacer">
        <div class="lf-1x4">
            <label for="productId" class="f-label">Product</label>
        </div>
        <div class="lf-3x4">
            <select name="product"
                    [(ngModel)]="batchNew.productId"
                    #product="ngModel"
                    placeholder="Product"
                    required>
                <option value="0">--Please select--</option>
                <option *ngFor="let product of products"
                        value="{{product.id}}">
                    {{product.name}}
                </option>
            </select>
            <div *ngIf="product.invalid">
                <div *ngIf="product.errors.required" class="u-required u-required--before">required</div>
            </div>
        </div>
    </div>
    <div class="lf-row c-content-spacer">
        <div class="lf-1x4">
            <label for="expiringTime" class="f-label">Expiring (days from Expiration date)</label>
        </div>
        <div class="lf-3x4">
            <input type="number"
                   class="f-input"
                   name="expiringTime"
                   [(ngModel)]="batchNew.expiringTime"
                   #expiringTime="ngModel"
                   placeholder="Expiring time in days"
                   min="1"
                   required />
            <div *ngIf="expiringTime.invalid">
                <div *ngIf="expiringTime.errors.required" class="u-required u-required--before">required</div>
            </div>
        </div>
    </div>
    <div class="lf-1x1 lf-row lf-justify-center c-content-spacer">
        <button [type]="button" class="b-icon ty-uppercase b-primary">
            Add new batch
        </button>
    </div>
</form>

<div *ngIf="batchSubmitted">
    <alert></alert>
    <div class="c-content-spacer">
        <button [type]="button" class="b-icon ty-uppercase b-primary" (click)="reset(f)">
            Add a new batch
        </button>
    </div>
</div>