<div class="c-alert" 
    [ngClass]="{
        'c-alert--success': message !== undefined && message.type === 'success',
        'c-alert--danger': message !== undefined && message.type === 'error',
        'c-alert--visible': message !== undefined,
        'c-alert--hidden': message === undefined
     }">
    <div class="lf-row">
        <button type="button" (click)="closeAlert()" class="b-icon c-alert__close">X</button>

        <div class="lf-1x1 lf-row lf-align-items-center lf-justify-center">
            <p class="c-alert__text">{{message?.text}}</p>
        </div>
    </div>
</div>