@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}/* Backgrounds - bg-background - generic commonly used background styles */
.bg-grey {
  background-color: #ECECEC;
}
.bg-grey-medium {
  background-color: #DBDBDB;
}
.bg-white {
  background-color: #FFF;
}