@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}/* Components - c-menu - menu specific styles */
.c-menu__item-link {
  padding: 10%;
}
.c-menu__item-link:hover {
  background: #4559B0;
  color: #FFF;
}
.c-menu__item-text {
  font-size: 25px;
  font-size: 1.5625rem;
}
.c-menu__item--active {
  font-weight: bold;
}
.c-menu__item--active .c-menu__item-link {
  background: #4559B0;
  color: #FFF;
}