@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}/* Components - c-componentname - components, chunks of UI */
.c-app {
  min-height: 100vh;
}
.c-alert {
  background: #FFF;
  bottom: 0;
  padding: 15px 20px 10px;
  position: fixed;
  right: 0;
  width: 25%;
  z-index: 1;
}
.c-alert__close {
  position: absolute;
  font-size: 22px;
  font-size: 1.375rem;
  background: transparent;
  color: #000;
  right: 30px;
}
.c-alert__text {
  color: #000;
  padding-left: 20px;
}
.c-alert--danger {
  background-color: #f2dede;
  border: 1px solid #D11923;
  color: #a94442;
}
.c-alert--hidden {
  bottom: -100vh;
  transition: all ease-in-out 2s;
}
.c-alert--success {
  background-color: #d4edda;
  border: 1px solid #155724;
  color: #155724;
}
.c-alert--visible {
  bottom: 0;
  transition: all ease-in-out 2s;
}
.c-content-container {
  padding: 2%;
}
.c-content-spacer {
  margin-top: 50px;
}