@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 1024px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}@media (max-width: 750px) {
}/* Components - c-footer - footer specific styles */
.c-footer {
  padding-bottom: 50px;
  padding-top: 50px;
}
.c-footer__text {
  margin: 0;
}