<h2>Batch history</h2>
<ul class="u-reset-list">
    <li>
        <a [routerLink]="['/batch-update', batchId]">Batch update</a>
    </li>
    <li>
        <a [routerLink]="['/batches']">Back to batches</a>
    </li>
</ul>

<p>Quantity: {{batch.quantity}}</p>

<table class="tb-data-table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Quantity
        </th>
    </tr>
    <tr *ngFor="let batchItem of batchItems; let index = index;" class="br-b-1">
        <td>{{batchItem.id}}</td>
        <td>{{batchItem.quantity}}</td>
    </tr>
</table>