<h2>Batches</h2>

<table class="tb-data-table" *ngIf="batches.length > 0">
    <tr>
        <th>
            ID
        </th>
        <th>
            Checked in date
        </th>
        <th>
            Expiration date
        </th>
        <th>
            Quantity
        </th>
        <th>
            Options
        </th>
    </tr>
    <tr *ngFor="let batch of batches; let index = index;" class="br-b-1">
        <td>{{batch.id}}</td>
        <td>{{batch.checkedInDate | date:'dd/MM/yyyy'}}</td>
        <td>{{batch.expirationDate | date:'dd/MM/yyyy'}}</td>
        <td>{{batch.quantity}}</td>
        <td class="tb-options">
            <ul class="u-reset-list lf-row">
                <li class="lf-1x2 l-pr-2">
                    <a [routerLink]="['/batch-update', batch.id]">Update stock</a>
                </li>
                <li class="lf-1x2">
                    <a [routerLink]="['/batch-history', batch.id]">History</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
<div *ngIf="batches.length == 0">
    <p>There are no batches to display.</p>
</div>