<h2>Product inventory by batch</h2>
<ul class="u-reset-list">
    <li>
        <a [routerLink]="['/products']">Back to products</a>
    </li>
</ul>

<p>Product: {{product.name}}</p>

<h3>Batches</h3>
<table class="tb-data-table" *ngIf="batches.length > 1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Quantity
        </th>
    </tr>
    <tr *ngFor="let batch of batches; let index = index;" class="br-b-1">
        <td>{{batch.id}}</td>
        <td>{{batch.expirationDate | date:'dd/MM/yyyy'}}</td>
        <td>{{batch.quantity}}</td>
    </tr>
</table>

<div *ngIf="batches.length == 0">
    <p>There are no batches to display.</p>
</div>